# NO2 Data Aggregation Time Series Analysis

Aggregates NO2 values by administrative boundaries and a regular hexagon grid.

To convert from mol/m<sup>2</sup> to molecules/cm<sup>2</sup>, multiply by 6.022140857e+19 (6.022140857 * 10<sup>19</sup>).

# Environment Setup

In [ ]:
# Load Notebook formatter
%load_ext nb_black
# %reload_ext nb_black

In [ ]:
# Import packages
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from pandas.plotting import register_matplotlib_converters
import radiance as rd
import sentinel as stl

In [ ]:
# Set Options
# sns.set(font_scale=1.5, style="whitegrid")
sns.set(font_scale=1.5)
pd.set_option("display.max_columns", None)
# pd.set_option("display.max_rows", None)
pd.set_option("precision", 15)
register_matplotlib_converters()

In [ ]:
# Set working directory
os.chdir("..")
print(f"Working directory: {os.getcwd()}")

# User-Defined Variables

In [ ]:
# Set paths to time series geopackage
hexagon_grid_time_series_path = os.path.join(
    "03-processed-data",
    "vector",
    "south-korea",
    "aggregate_daily_hexagon_grid_jul_2018_aug_2020.gpkg",
)

# Data Acquisition and Preprocessing

In [ ]:
# Get cleaned time series data into dataframe
time_series_df = stl.clean_time_series(hexagon_grid_time_series_path)

In [ ]:
# Check dataframe
time_series_df.head()

# Data Processing

# Data Post-Processing

# Data Visualization

## Seoul Area - High

The following grid cells provide an area covering the Seoul area, with a relatively higher NO2 concentration:

* H-6
* H-7
* I-5
* I-6
* I-7
* J-5
* J-6
* J-7
* J-8
* K-5
* K-6
* K-7
* L-6
* L-7

"Center" is I-6, J-6, J-7, and K-6.

In [ ]:
# Plot grid H-6 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="H-6",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid H-7 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="H-7",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid I-5 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="I-5",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid I-6 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="I-5",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid I-7 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="I-7",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid J-5 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="J-5",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid J-6 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="J-6",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid J-7 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="J-7",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid J-8 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="J-8",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid K-5 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="K-5",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid K-6 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="K-6",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid K-7 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="K-7",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid L-6 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="L-6",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid L-7 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="L-7",
    data_location="South Korea",
    data_source="European Space Agency",
)

## Away from Seoul - Low

The following grid cells cover an area away from Seoul with a relatively lower NO2 concentration:

* M-13
* M-14
* N-13
* N-14
* N-15
* O-13
* O-14

"Center" is N-14.

In [ ]:
# Plot grid M-13 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="M-13",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid M-14 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="M-14",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid N-13 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="N-13",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid N-14 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="N-14",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid N-15 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="N-15",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid O-13 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="O-13",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid O-14 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="O-14",
    data_location="South Korea",
    data_source="European Space Agency",
)

## Southern Coast - High

The following grid cells cover an area on the Southern coast with a relatively higher NO2 concentration:

* M-16
* M-17
* N-16
* N-17
* N-18
* O-16
* O-17

"Center" is N-17.

In [ ]:
# Plot grid M-16 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="M-16",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid M-17 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="M-17",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid N-16 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="N-16",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid N-17 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="N-17",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid N-18 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="N-18",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid O-16 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="O-16",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid O-17 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="O-17",
    data_location="South Korea",
    data_source="European Space Agency",
)

## Rural Area to the East - Low

The following grid cells cover a rural area in the East a relatively lower NO2 concentration:

* S-8
* S-9
* T-8
* T-9
* T-10
* U-8
* U-9

"Center" is T-9.

In [ ]:
# Plot grid S-8 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="S-8",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid S-9 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="S-9",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid T-8 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="T-8",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid T-9 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="T-9",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid T-10 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="T-10",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid U-8 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="U-8",
    data_location="South Korea",
    data_source="European Space Agency",
)

In [ ]:
# Plot grid U-9 time series
fig, ax = stl.plot_no2_time_series(
    time_series=time_series_df,
    grid_id="U-9",
    data_location="South Korea",
    data_source="European Space Agency",
)

## Statistics Table

Create table showing mean and standard deviation for each cell within the test areas and/or all cells.

# Data Export

In [ ]:
# Plot and export daily time series for all grid IDs
export = False
if export:
    for grid_id in time_series_df.columns:
        fig, ax = stl.plot_no2_time_series(
            time_series=time_series_df,
            grid_id=grid_id,
            data_location="South Korea",
            data_source="European Space Agency",
        )

        rd.save_figure(
            filepath=os.path.join(
                "04-graphics-outputs",
                "time-series",
                "south-korea",
                f"no2-daily-time-series-jul-2018-aug-2020-grid-{grid_id.lower().replace('-', '')}.png",
            )
        )

        plt.close()